<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">

    </ion-buttons>
    <ion-searchbar 
      color="danger" 
      mode="ios" 
      placeholder="Search for a legend"
      animated 
      (ionInput)="filterLegend($event)"
      (ionClear)="searchInput = '';"
      [(ngModel)]="querytext">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="active == true">
  <p>Showing <b>{{results.length}}</b> Results for: <b>{{querytext}}</b></p><br />
  <ion-row>
    <ion-col size="6" offset="3">
      <ion-list >
        <ion-list-header>
          <ion-label>List of Names</ion-label>
        </ion-list-header>
        <ion-item lines="full" *ngFor="let legend of legedary">
          <ion-label >
            {{legend}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>